<html>
<head>
  <title>My Etsy Map</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

  <div class="index-total">
    
    <div class="jumbotron center about-custom">
      <div class="button-centered">
        <h1>My Etsy Map</h1>
        <p>Your Etsy purchases connect you to craftspeople around the world. See where all your purchases come from by logging in!</p>
        <a class="btn btn-success btn-lg" href="/login">Log In</a>
      </div>
    </div>

    <footer class="footer" role="contentinfo">
      <div class="container">
        <div class="bs-social">
        </div>
        <div class="nav navbar-nav">
          <span>Built with ♥ by 
            <a target="_blank" href="http://www.amandahimmelstoss.com">Amanda Himmelstoss</a>.
          </span>
        </div>
      </div>
    </footer>

  </div>
</body>
</html>