<!DOCTYPE html>
<html>
  <head>
    <title>My Etsy Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAnszT1t5ncmu-aB8CMdVESGcrb_eoo4o&sensor=false">
    </script>
    <script src="/javascripts/map.js"></script>
    <script type="text/javascript">
      var data = <%= @data.to_json %>;
      function codeAddressesData() {
        codeAddresses(data);
      }
      google.maps.event.addDomListener(window, 'load', codeAddressesData);
    </script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>